/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@100..800&family=Baskervville:ital@0;1&family=Noto+Sans+Telugu:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global CSS */
* {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Hide scrollbar */
::-webkit-scrollbar {
  display: none;
}
